.about-section {
  padding: 40px 20px;
  background-color: #817f7f;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 8px;
}

.about-me-image {
  width: 100%;          /* Full width in its column */
  max-width: 250px;      /* Limit max size */
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
}

.about-me-text-container {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 8px;
  line-height: 1.6;
  font-size: 1.1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}
