@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Header container */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #282c34;  /* Example background color */
  padding: 10px;

}

/* Title styles */
.header-title h1,
 .header-title h2 {
 display: flex;
  color: #00FF00;  /* Font color for the header title */
  font-family: 'Press Start 2P', cursive;  /* Font family */
  font-size: calc(1.5vw + 1.5rem);  /* Adjust based on viewport width */
  margin: 0;
}
.header-title h2 {
    font-size: calc(1vw + 1rem);  /* Adjust based on viewport width */

}

/* Navigation styles */
.header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #778899;  /* Font color for navigation links */
  font-size: calc(0.75vw + 0.75rem);  /* Adjust based on viewport width */
}

.header-nav li {
  display: inline;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;  /* Font family for links */
   color: #00FF00;  /* Font color for navigation links */
}

.nav-link:hover {
  color: #00FF00;  /* Font color on hover */
}