@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: sans-serif; /* You can choose a single, simple font family */
  background-color: #f0f0f0; /* Optional: Set a light background color */
  color: #333; /* Optional: Set a default text color */
}

code {
  font-family: monospace; /* Use a simple monospace font for code snippets */
}
